* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: image("/hooks/usestate/public/images/img1.png");
  background-color: aqua;
}
.but {
  position: absolute;
  left: 500px;
  color: black;
  border: 10px solid red;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  align-items: center;
}
button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
}
h1 {
  margin-top: 5px;
  font-family: "Helvetica", Arial, sans-serif;
  color: #333;
  border: 20px solid rgb(98, 235, 13);

}
